* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --BG_RADIAL: radial-gradient(white, cornflowerblue);
    --FONT_SIZE_XL: 1.5rem;
}

header h1 {
    text-align: center;
    margin-top: 0.5rem;
}

body {
    min-height: 100vh;
    background-image: var(--BG_RADIAL);
    font-size: var(--FONT_SIZE_XL);
    font-family: Arial, Helvetica, sans-serif;
}

textarea {
    width: 100%;
    font-size: var(--FONT_SIZE_XL);
    min-height: 5rem;
    border-radius: 0.2rem;
    resize: none;
    padding: 0.4rem;
}

.container {
    display: flex;
    flex-direction: column;
}

section {
    margin-top: 3rem;
    padding: 0 2.5rem;
}

ul {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

p {
    font-weight: bold;
}

li {
    list-style-type: none;
    display: flex;
    align-content: center;
    padding: 0.2rem 0.5rem;
    border-bottom: 0.5px solid white;
}

li input {
    align-self: center;
}

li:hover {
    box-shadow: 5px 10px 10px -2.5px black;
}

li button {
    border: none;
    width: 100%;
    padding: 1rem;
    text-align: left;
    font-size: var(--FONT_SIZE_XL);
    background-color: transparent;
    cursor: pointer;
}
hr {
    margin-top: 0.5rem;
}

.strike {
    text-decoration: line-through;
    opacity: 0.7;
}

.strike:hover {
    opacity: 1;
    text-decoration: none;
}

.save-note {
    margin-top: 0.5rem;
    padding: 0.2rem;
    float: right;
    min-width: 8vw;
    height: 4vh;
    background-color: black;
    border: none;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1.1rem;
}

.data-not-found {
    padding-top: 1rem;
    font-weight: lighter;
    text-align: center;
}

@media (max-width:500px) {
    body {
        font-size: 1rem;
    }

    textarea {
        font-size: 1rem;
    }

    section {
        padding: 0.5rem;
        margin-top: 0;
        margin-bottom: 0.5rem;
    }

    header h1 {
        display: none;
    }

    .save-note {
        font-size: 1rem;
        margin-top: 0;
        width: 100%;
    }

    li {
        padding: none;
    }
    
    ul {
        padding: 0.5rem;
    }

    li button {
        font-size: 1rem;
        padding: 0;
    }

    .data-not-found {
        font-size: small;
    }
}