* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #1085D3;
    background: linear-gradient(135deg, #1085D3, #024077);
    font-size: 1.25rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    text-align: center;
}

select {
    font-size: large;
}

nav {
    color: white;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

nav i {
    margin-right: 10px;
}

.search form select {
    padding: 10px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 5px;
}

.search form button {
    font-size: large;
    margin-left: 1rem;
    border: 1px solid white;
    background: linear-gradient(135deg, #1085D3, #024077);
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.search form button:hover {
    background-color: #1085D3;
    background: linear-gradient(135deg,#024077,  #1085D3 );
    border: 1px solid rgb(228, 224, 224);
}

main {
    padding: 5rem 3rem;
    color: #f0f0f0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.current h1 {
    font-size: 8rem;
    font-weight: lighter;
}

.current h1:first-of-type {
    font-size: 3rem;
}

.container {
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
    align-content: center;
    justify-content: space-around;
    grid-column: 1/3;
}

.card {
    background-color: #1085D3;
    box-shadow: 7px 5px 5px -5px black;
    background: linear-gradient(135deg,#024077,  #1085D3 );
    width: 300px;
    height: 400px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.card div {
    padding: 25px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.card div h1 {
    font-size: 3rem;
}

.card div p {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.additional {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-self: center;
}

@media (max-width:550px) {
    form {
        display: flex;
        align-items: center;
    }

    main {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        padding-bottom: 3rem;
    }

    .container {
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    header {
        font-size: small;
    }

    nav {
        padding: 10px;
        margin-bottom: 2rem;
    }

    .current h1 {
        font-size: 4rem;
    }

    .current h1:first-of-type {
        font-size: 1.5rem;
    }

    .additional {
        gap:1rem;
    }

    .card {
        width: 80%;
        height: 250px
    }
}