* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    background-color: rgb(209, 209, 209);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-family: 'Roboto' monospace;
}

form {
    background-color: aliceblue;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    gap: 2rem;
    font-family: inherit;
}

input {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid black;
    font-size: 0.8rem;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

select:focus {
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('./images/drop-down.svg') no-repeat 95% 50%;
    background-color: white;
    font-size: inherit;
    font-family: inherit;
    color: black;
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 0.8rem;
    border-radius: 5px;
}

form button {
    width: 100% !important;
}

.hidden {
    visibility: hidden;
}

.remove {
    visibility: hidden;
    display: none !important;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: aliceblue;
    padding: 2rem;
    width: 30%;
}

.game > div {
    width: 100%;
}

.status {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: black;
    color: aliceblue;
    padding: 10px;
    font-weight: 200;
}

p {
    vertical-align: middle;
}

.lives {
    width: 12px;
}

.board {
    background-color: aliceblue;
    padding: 10px;
    border: 5px solid black;
    border-top: none;
    display: grid;
    gap: 10px;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.block {
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: all 500ms ease-in;
}

.flipped {
    transform: rotateY(180deg);
}

.unflipped {
    background-color: gray !important;
}

.red {
    background-color: red;
}

.blue {
    background-color: cornflowerblue;
}

.yellow {
    background-color: gold;
}

.brown {
    background-color: brown;
}

.green {
    background-color: greenyellow;
}

.purple {
    background-color: purple;
}

.pink {
    background-color: pink;
}

.navy {
    background-color: navy;
}

.btn {
    border: none;
    padding: 10px;
    width: 230px;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    border-radius: 5px;
    transition: transform 200ms;
}

.btn-start {
    background-color: green;
    color: white;
}

.btn-reset {
    background-color: red;
    color: white;
    border: 1px solid black;
}

.btn-disabled {
    opacity: 0.8;
    cursor:not-allowed;
}

.btn-back {
    background-color: yellow;
    border: 1px solid;
}

.btn:hover {
    transform: scale(0.98);
}

@media (max-width:800px) {
    form {
        width: 80%;
    }

    .game, .game > div {
        width: 100%;
    }

    .board {
        width: 100%;
    }
}